h1{
    font-family: 'Open Sans', sans-serif;
    color: #F564A9;
    font-size: 3.5rem !important;
}
h2{
    font-family: 'Open Sans', sans-serif;
    color: #F564A9;
    font-size: 2.5rem !important;
}
h3{
    font-family: 'Open Sans', sans-serif;
    color: #F564A9;
}

span{
    
    color: #F6EFEE;
    font-size: 1.25rem;
}
a{
    
    color: #F6EFEE;
}
.btn-outline-success{
    background-color: none !important;
    color: #F564A9 !important;
    border-color: #F564A9 !important;
}
.btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:visited {
    background-color: #F564A9 !important;
    color: #F6EFEE !important;
}
.btn-outline-primary{
    background-color: none !important;
    color: #5ceef3 !important;
    border-color: #5ceef3 !important;
}
.btn-outline-primary:hover, .btn-outline-primary:active,.btn-outline-primary:focus, .btn-outline-primary:visited {
    background-color: #5ceef3 !important;
    color: #37392E !important;
}

.cardho:hover{
    background-color: #FBC5E0;
    
}
.cardho:focus{
    background-color: #FBC5E0;
    border-width: 2px;
    border-color: #F564A9;
}
.modal-content{
    background-color: #fff3f9 !important;
    
    
}
